.container {
    display: none;
}

@media (min-width: 1025px) {
    .container {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        background-color: black;
        width: 824px;
        height: auto;
        border: 1px solid #FFFFFF;
        border-top: 0px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 42px 32px 0px 32px;
}

.closeIcon {
    align-self: flex-end;
}

.yourCart {
    padding-top: 37px;
    padding-bottom: 18px;
    align-self: center;
}

.cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #FFFFFF;
    width: 100%;
    margin-bottom: 25px;
}

.itemImage {
    margin: 11px 0px 11px 11px;
    background: linear-gradient(0deg, #1D1D1D 0%, rgba(21, 21, 21, 0) 100%);
}

.cartItemDescription {
    padding: 5px 14px 5px 11px;
}

.cartItemDescription p {
    margin-bottom: 5px;
}

.text {
    font-weight: bold;
    font-size: 14px;
}

.descriptionItem {
    text-transform: uppercase;
}

.descriptionSubItem {
    color: #999999;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 88px;
    padding: 0px 32px 0px 32px;
}

.totalPrice {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-right: 1px solid white;
}

.totalPriceText {
    font-weight: bold;
    font-size: 28px;
}

.footerImage {
    padding-left: 48px;
}
