.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 83px;
    padding: 23px 16px 20px 16px;
}

.logoBasement {
    width: 50px;
}

.buttonCart {
    border: 1.09091px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    height: 40px;
    width: 112px;
}

.buttonCart:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media (min-width: 1025px) {
    .container {
        display: none;
    }
}