.container {
    display: none;
}

@media (min-width: 1025px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.headerLogo {
    padding: 0px 32px 50px 32px;
}

.marqueeContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    border-right: none;
    border-left: none;
    height: 44px;
    width: 100%;
}

.marquee {
    animation : slide 5s linear infinite;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
}

.itemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 16px 0px 16px;
}

.item {
    position: relative;
    margin-left: 41px;
}

.itemImage {
    display: flex;
    height: 392px;
    background: linear-gradient(0deg, #1D1D1D 0%, rgba(21, 21, 21, 0) 100%);
    border-bottom: 2px solid #FFFFFF;
}

.addToCart {
    display: none;
}

.itemImage:hover .addToCart {
    display: inline-block;
    position: absolute;
    top: 28%;
    left: 15%;
    width: 70%;
}

  
.descriptionPrice {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 41px;
    width: 100%;
}
  
.itemDescription {
    font-size: 22px;
}

@keyframes slide {
    0% {
      transform: translatex(0%)
    }
  
    100% {
      transform: translatex(100%)
    }
}